/* ===========================
        common css start
=============================== */
*{
    padding: 0;
    margin: 0;
    outline: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p,a,span,img{
    margin: 0;
    padding: 0;
    line-height: 0.8;
    font-family: "Open Sans" , sans-serif;
}
img{
    vertical-align: middle;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
body{
    background-color: black;
}

/* ============================
        common css start
=============================== */


/* ============================
    banner part css start
=============================== */
#banner_part{
    padding: 28px 0 400px;
    background: url(../images/banner_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner_part .menu_parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner_part .menu_parent .menu_list ul{
    display: flex;
    column-gap: 60px;
}
#banner_part .menu_parent .menu_list ul li a{
    font-family: "Open Sans" , sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    transition: all linear 0.2s;
}
#banner_part .menu_parent .menu_list ul li a:hover{
    color: #000;
}

#banner_part .discover{
    margin-top: 250px;

}
#banner_part .discover h4{
    color: #FFC178;
    font-family: "Open Sans" , sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7px;
    text-transform: uppercase;
    height: 29.22px;
}
#banner_part .discover h2 span{
    color: #FFF;
    font-family: "Open Sans" , sans-serif;
    font-size: 96px;
    display: block;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    text-transform: capitalize;
}
#banner_part .discover h2{
    color: #FFF;
    font-family: "Open Sans" , sans-serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    text-transform: capitalize;
}





/* ============================
    banner part css end
=============================== */



/* ============================
    holiday part css start
=============================== */

#holiday_part{
    padding: 250px 0;
}
#holiday_part .holiday_wrapper{
    display: flex;
    width: 100%;
}
#holiday_part .holiday_wrapper .holiday_img{
    width: 50%;

}
#holiday_part .holiday_wrapper .holiday_img picture img{
    width: 100%;
}
#holiday_part .holiday_wrapper .holiday_detail{
    padding-left: 30px;
    padding-top: 55px;
    width: 50%;
}
#holiday_part .holiday_wrapper .holiday_detail h4{
    color: #FBD784;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
}

#holiday_part .holiday_wrapper .holiday_detail h2{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 13px;
}
#holiday_part .holiday_wrapper .holiday_detail p{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
    margin-top: 15px;
}
#holiday_part .holiday_wrapper .holiday_detail a{
    color: #FBD784;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 65px;
}


/* ============================
    holiday part css end
=============================== */




/* ============================
    climb part css start 
=============================== */

#climb_part{
    padding: 0 0 250px 0;
}
#climb_part .climb_img{
    background: url(../images/climb.jpg) no-repeat , center;
    background-size: cover;
    height: 965px;
    position: relative;
}
#climb_part .climb_img .climb_overlay{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7%;
    text-align: center;width: 70%;
}
#climb_part .climb_img .climb_overlay h5{
    color: #FBD784;
    margin-bottom: 13px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
}
#climb_part .climb_img .climb_overlay h2{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
#climb_part .climb_img .climb_overlay p{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 213.333% */
    text-transform: uppercase;
    margin-bottom: 28px;
}

#climb_part .climb_img .climb_overlay a{
    color: #FBD784;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}











/* ============================
    climb part css end    
=============================== */



/* ============================
   culture part css start     
=============================== */

#culture_part{
    padding:0 0 200px 0;
}
#culture_part .holiday_wrapper{
    display: flex;
    width: 100%;
}
#culture_part .holiday_wrapper .holiday_img{
    width: 47%;

}
#culture_part .holiday_wrapper .holiday_img picture img{
    width: 100%;
}
#culture_part .holiday_wrapper .holiday_detail{
    padding-right: 30px;
    padding-top: 155px;
    width: 53%;
}
#culture_part .holiday_wrapper .holiday_detail h4{
    color: #FBD784;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
}

#culture_part .holiday_wrapper .holiday_detail h2{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 13px;
}
#culture_part .holiday_wrapper .holiday_detail p{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
    margin-top: 15px;
}
#culture_part .holiday_wrapper .holiday_detail a{
    color: #FBD784;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 65px;
}

/* ============================
    culture part css end    
=============================== */



/* ============================
    footer part css start
=============================== */
#footer_part{
    padding-bottom: 130px;
}
#footer_part .footer_logo_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}
#footer_part .footer_logo_main .footer_btn{
    display: flex;
    column-gap: 15px;
    align-items: center;
}
#footer_part .footer_logo_main .footer_btn h6{
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
    text-transform: capitalize;
}


#footer_part .footer_logo_main .footer_btn button{
    border-radius: 10px;
    background: #FFA343;
    border: none;
    width: 232px;
    height: 60px;
    color: #000;
    font-family: "Open Sans" , sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    transition: all linear .2s;
}
#footer_part .footer_logo_main .footer_btn button:hover{
    cursor: pointer;
    background: rgb(162, 84, 0);
    color: #fff;
}







#footer_part .footer_detail_main{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#footer_part .footer_detail_main .footer_detail{
    width: 35%;

}
#footer_part .footer_detail_main .footer_detail h4{
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    margin-bottom: 50px;
}
#footer_part .footer_detail_main .footer_detail p{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.205px;
    text-transform: capitalize;
    margin-bottom: 35px;
}
#footer_part .footer_detail_main .footer_detail .footer_icon{
    display: flex;
    column-gap: 25px;
}

#footer_part .footer_detail_main .footer_detail .footer_icon a{
    width: 40px;
    height: 40px;
    line-height: 43px;
    text-align: center;
    border-radius: 50%;
    transition: all linear .2s;
}
#footer_part .footer_detail_main .footer_detail .footer_icon a:nth-child(1){
    background-color: #3b5998;
}
#footer_part .footer_detail_main .footer_detail .footer_icon a:nth-child(1):hover{
    background-color: #fff;
}

#footer_part .footer_detail_main .footer_detail .footer_icon a:nth-child(1):hover i{
    color: #3b5998;
}





#footer_part .footer_detail_main .footer_detail .footer_icon a:nth-child(2){
    background-color: #00acee;
}
#footer_part .footer_detail_main .footer_detail .footer_icon a:nth-child(2):hover{
    background-color: #fff;
}
#footer_part .footer_detail_main .footer_detail .footer_icon a:nth-child(2):hover i {
    color: #00acee;
}


#footer_part .footer_detail_main .footer_detail .footer_icon a:nth-child(3){
    /* background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);  */
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); */
    transition: all linear .2s;
      
}
#footer_part .footer_detail_main .footer_detail .footer_icon a:nth-child(3):hover{
    background: white;
}


#footer_part .footer_detail_main .footer_detail .footer_icon a:nth-child(3) i{
    color: white;
}

#footer_part .footer_detail_main .footer_detail .footer_icon a:nth-child(3):hover i{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
    -webkit-text-fill-color: transparent;
}




#footer_part .footer_detail_main .footer_detail .footer_icon a:hover{
    border-radius: 32%;

}
#footer_part .footer_detail_main .footer_detail .footer_icon a:hover i{
    scale: 1.3;

}

#footer_part .footer_detail_main .footer_detail .footer_icon a i{
    font-size: 20px;
    color: #000;
    transition: all linear .2s;
}

#footer_part .footer_detail_main .footer_detail .footer_icon a:nth-child(1) i{
    color: #fff;
}
#footer_part .footer_detail_main .footer_detail .footer_icon a:nth-child(2) i{
    color: #fff;
}







#footer_part .footer_detail_main .footer_menu {
	display: flex;
	justify-content: space-around;
	width: 50%;
	padding-left: 140px;
}


#footer_part .footer_detail_main .footer_menu .footer_menu_list h6{
    color: #FFD1A0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.232px;
    text-transform: capitalize;
    margin-bottom: 18px;
}   
/* #footer_part .footer_detail_main .footer_menu .footer_menu_list ul {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
} */

#footer_part .footer_detail_main .footer_menu .footer_menu_list ul li{
    margin-bottom: 10px;
}

#footer_part .footer_detail_main .footer_menu .footer_menu_list ul li a{
    color: #FFF;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.205px;
    text-transform: capitalize;
}


/* ============================
    footer part css end
=============================== */


/* ============================
    copyright part css start
=============================== */

#copyright{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 10px solid white;
}
#copyright h5{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
}



/* ============================
    copyright part css end
=============================== */
















